[submodule "vendor/wp-less"]
	path = vendor/wp-less
	url = https://github.com/oncletom/wp-less.git
[submodule "vendor/jquery-ui-bootstrap"]
	path = vendor/jquery-ui-bootstrap
	url = https://github.com/addyosmani/jquery-ui-bootstrap.git
[submodule "vendor/frameless"]
	path = vendor/frameless
	url = https://github.com/jonikorpi/Frameless.git
